<%= form_with(model: product) do |form| %>

  <% if product.errors.any? %>
    <p><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</p>
    <% product.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
